body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
}

.photo-home{
    width: 60px;
    height: 40px;
}

.image-home{
    margin: 15px;
}

a{
    text-decoration: none;
    color: rgb(252, 0, 0);
}

nav{
    background-color: rgba(255, 0, 0, 0.7);
}

.collapse{
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgba(255, 0, 0, 0.4);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link:hover{
    color: white;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

#simulacion-mas .simulador{
    width: 100%;
    height: 750px;
}

#simulacion-ondas .simulador{
    width: 100%;
    height: 650px;
}

#simulacion-ondas-electromagneticas .simulador{
    width: 100%;
    height: 625px;
}

.button-finalizar{
    background-color: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button-finalizar:hover{
    background-color: rgba(255, 0, 0, 0.9);
}